	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/03/2019 00:45
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
font-style: normal;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-window:before { content: "\f100"; }
.flaticon-measuring:before { content: "\f101"; }
.flaticon-step-ladder:before { content: "\f102"; }
.flaticon-interior-design:before { content: "\f103"; }
.flaticon-sit-down:before { content: "\f104"; }
.flaticon-turned-off:before { content: "\f105"; }
.flaticon-lawn-mower:before { content: "\f105"; }

.flaticon-socket:before {
  content: "\f150";
}

.flaticon-spray:before {
  content: "\f151";
}

.flaticon-steamtroller:before {
  content: "\f152";
}

.flaticon-stop:before {
  content: "\f153";
}

.flaticon-super-glue:before {
  content: "\f154";
}

.flaticon-swiss-knife:before {
  content: "\f155";
}

.flaticon-toolbox:before {
  content: "\f156";
}

.flaticon-toolbox-1:before {
  content: "\f157";
}

.flaticon-torch:before {
  content: "\f158";
}

.flaticon-torch-helmet:before {
  content: "\f159";
}

.flaticon-trowel:before {
  content: "\f15a";
}

.flaticon-truck:before {
  content: "\f15b";
}

.flaticon-tubes-hook:before {
  content: "\f15c";
}

.flaticon-window:before {
  content: "\f15d";
}

.flaticon-wire-roll:before {
  content: "\f15e";
}

.flaticon-wood:before {
  content: "\f15f";
}

.flaticon-worker:before {
  content: "\f160";
}

.flaticon-worker-1:before {
  content: "\f161";
}

.flaticon-wrecking-ball:before {
  content: "\f162";
}

.flaticon-wrench:before {
  content: "\f163";
}

